<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block websiteTitle %}Documentation | GSB Espace membre{% endblock %}</title>

    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
    <link href="/css/pages/documentation.css" rel="stylesheet"/>
    <link rel="icon" href="/img/favicon.png"/>
</head>
<body data-spy="scroll" data-target="#navbar" data-offset="10">
<header>
    <div class="container"  id="presentation">
        <h1>Documentation</h1>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-10 content">
            <section >
                {% set activeSection = 'presentation' %}
                <h2>Présentation</h2>
                <p>Each theme is designed as it’s own toolkit—a series of well designed, intuitive, and cohesive components—built on top of Bootstrap. If you’ve used Bootstrap
                    itself, you’ll find this all super familiar, but with new aesthetics, new components, beautiful and extensive examples, and easy-to-use build tools and
                    documentation. </p>
            </section>
            <section id="account">
                {% set activeSection = 'account' %}
                <h2>Consulter mes informations personnelles</h2>
                <div class="row">
                    <div class="col-md-3">
                        <img class="img-rounded" src="/img/documentation/accountJPG.JPG" alt=""/>
                    </div>
                    <div class="col-md-9">
                        <p>Each theme is designed as it’s own toolkit—a series of well designed, intuitive, and cohesive components—built on top of Bootstrap. If you’ve used Bootstrap
                            itself, you’ll find this all super familiar, but with new aesthetics, new components, beautiful and extensive examples, and easy-to-use build tools and
                            documentation.
                            Since this theme is based on Bootstrap, and includes nearly everything Bootstrap itself does, you’ll want to give the official project documentation a once over
                            before continuing. There’s also the kitchen sink—a one-page view of all Bootstrap’s components restyled by this theme.
                            For everything else, including compiling and using this Bootstrap theme, read through the docs below.
                            Thanks, and enjoy! </p>
                    </div>
                </div>
            </section>
            <section id="statistic">
                {% set activeSection = 'statistic' %}
                <h2>Comprendre le fonctionnement des statistiques</h2>
                <p>Each theme is designed as it’s own toolkit—a series of well designed, intuitive, and cohesive components—built on top of Bootstrap. If you’ve used Bootstrap
                    itself, you’ll find this all super familiar, but with new aesthetics, new components, beautiful and extensive examples, and easy-to-use build tools and
                    documentation.
                    Since this theme is based on Bootstrap, and includes nearly everything Bootstrap itself does, you’ll want to give the official project documentation a once over
                    before continuing. There’s also the kitchen sink—a one-page view of all Bootstrap’s components restyled by this theme.
                    For everything else, including compiling and using this Bootstrap theme, read through the docs below.
                    Thanks, and enjoy! </p>
            </section>
            <section id="report">
                {% set activeSection = 'report' %}
                <h2>Module rapports</h2>
                <p>Each theme is designed as it’s own toolkit—a series of well designed, intuitive, and cohesive components—built on top of Bootstrap. If you’ve used Bootstrap
                    itself, you’ll find this all super familiar, but with new aesthetics, new components, beautiful and extensive examples, and easy-to-use build tools and
                    documentation.</p>
                <div id="report_add">
                    <div class="row">
                        <h3>Saisir un rapport de visite</h3>
                        <div class="col-md-3">
                            <img class="img-rounded" src="/img/documentation/accountJPG.JPG" alt=""/>
                        </div>
                        <div class="col-md-9">
                            <p>Each theme is designed as it’s own toolkit—a series of well designed, intuitive, and cohesive components—built on top of Bootstrap. If you’ve used Bootstrap
                                itself, you’ll find this all super familiar, but with new aesthetics, new components, beautiful and extensive examples, and easy-to-use build tools and
                                documentation.
                                Since this theme is based on Bootstrap, and includes nearly everything Bootstrap itself does, you’ll want to give the official project documentation a once over
                                before continuing. There’s also the kitchen sink—a one-page view of all Bootstrap’s components restyled by this theme.
                                For everything else, including compiling and using this Bootstrap theme, read through the docs below.
                                Thanks, and enjoy! </p>
                        </div>
                    </div>
                </div>
                <div id="report_list">
                    <div class="row">
                        <h3>Consulter les rapports de visite</h3>
                        <div class="col-md-3">
                            <img class="img-rounded" src="/img/documentation/accountJPG.JPG" alt=""/>
                        </div>
                        <div class="col-md-9">
                            <p>Each theme is designed as it’s own toolkit—a series of well designed, intuitive, and cohesive components—built on top of Bootstrap. If you’ve used Bootstrap
                                itself, you’ll find this all super familiar, but with new aesthetics, new components, beautiful and extensive examples, and easy-to-use build tools and
                                documentation.
                                Since this theme is based on Bootstrap, and includes nearly everything Bootstrap itself does, you’ll want to give the official project documentation a once over
                                before continuing. There’s also the kitchen sink—a one-page view of all Bootstrap’s components restyled by this theme.
                                For everything else, including compiling and using this Bootstrap theme, read through the docs below.
                                Thanks, and enjoy! </p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="practitioner">
                {% set activeSection = 'practitioner' %}
                <h2>Module praticiens</h2>
                <p>Each theme is designed as it’s own toolkit—a series of well designed, intuitive, and cohesive components—built on top of Bootstrap. If you’ve used Bootstrap
                    itself, you’ll find this all super familiar, but with new aesthetics, new components, beautiful and extensive examples, and easy-to-use build tools and
                    documentation.
                    Since this theme is based on Bootstrap, and includes nearly everything Bootstrap itself does, you’ll want to give the official project documentation a once over
                    before continuing. There’s also the kitchen sink—a one-page view of all Bootstrap’s components restyled by this theme.
                    For everything else, including compiling and using this Bootstrap theme, read through the docs below.
                    Thanks, and enjoy! </p>
            </section>
            <section id="product">
                {% set activeSection = 'product' %}
                <h2>Module produits</h2>
                <p>Each theme is designed as it’s own toolkit—a series of well designed, intuitive, and cohesive components—built on top of Bootstrap. If you’ve used Bootstrap
                    itself, you’ll find this all super familiar, but with new aesthetics, new components, beautiful and extensive examples, and easy-to-use build tools and
                    documentation.
                    Since this theme is based on Bootstrap, and includes nearly everything Bootstrap itself does, you’ll want to give the official project documentation a once over
                    before continuing. There’s also the kitchen sink—a one-page view of all Bootstrap’s components restyled by this theme.
                    For everything else, including compiling and using this Bootstrap theme, read through the docs below.
                    Thanks, and enjoy! </p>
            </section>
        </div>
        <div class="col-md-2">
            <nav id="navbar">
                <ul class="nav" role="tablist">
                    <li {% if activeSection == 'presentation' %}class="active"{% endif %}><a href="#presentation">Présentation</a></li>
                    <li {% if activeSection == 'account' %}class="active"{% endif %}><a href="#account">Informations personnelles</a></li>
                    <li {% if activeSection == 'statistic' %}class="active"{% endif %}><a href="#statistic">Fonctionnement des statistiques</a></li>
                    <li {% if activeSection == 'report' %}class="active"{% endif %}><a href="#report">Rapports de visite</a>
                        <ul>
                            <li><a href="#report_add">Saisir un rapport de visite</a></li>
                            <li><a href="#report_list">Consulter les rapports de visite saisis</a></li>
                        </ul>
                    </li>
                    <li {% if activeSection == 'practitioner' %}class="active"{% endif %}><a href="#practitioner">Consulter la liste des praticiens</a></li>
                    <li {% if activeSection == 'product' %}class="active"{% endif %}><a href="#product">Consulter la liste des produits</a></li>
                </ul>
                <button class="btn" type="button">Revenir en haut</button>
            </nav>
        </div>
    </div>
</div>

<script src="/lib/jquery/jquery-2.2.3.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/documentation.js"></script>

</body>
</html>