<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block websiteTitle %}Documentation | GSB Espace membre{% endblock %}</title>

    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
    <link href="/css/pages/documentation.css" rel="stylesheet"/>
    <link rel="icon" href="/img/favicon.png"/>
</head>
<body data-spy="scroll" data-target="#navbar" data-offset="10">
<header>
    <button class="btn btn-default homepageLink" type="button"><a href="{{ path_for('homepage') }}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Accueil</a></button>
    <div class="container"  id="presentation">
        <h1>DOCUMENTATION</h1>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-10 content">
            <section >
                {% set activeSection = 'presentation' %}
                <div class="page-header">
                    <h3>INTRODUCTION</h3>
                </div>
                <p>GSB Espace membre est une application web de <span class="text-primary">centralisation de rapports de visites</span>. L'application vous permet d'envoyer vos
                    rapports
                    de
                    visites à
                    votre hiérarchie directement depuis l'application.</p>
                <p>Elle vous permet également de consulter :
                <ul>
                    <li>- Les rapports envoyés</li>
                    <li>- La liste des praticiens partenaires de GSB</li>
                    <li>- Le catalogue des produits commercialisés par GSB </li>
                    <li>- Une sythèse de votre travail</li>
                </ul></p>
            </section>
            <section id="account">
                {% set activeSection = 'account' %}
                <div class="page-header">
                    <h3><i class="fa fa-home"
                           aria-hidden="true"></i> ACCUEIL <small> L'onglet " mon compte "</small>
                    </h3>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img class="img-rounded" src="/img/documentation/accountJPG.JPG" alt=""/>
                    </div>
                    <div class="col-md-9">
                        <p>Each theme is designed as it’s own toolkit—a series of well designed, intuitive, and cohesive components—built on top of Bootstrap. If you’ve used Bootstrap
                            itself, you’ll find this all super familiar, but with new aesthetics, new components, beautiful and extensive examples, and easy-to-use build tools and
                            documentation.
                            Since this theme is based on Bootstrap, and includes nearly everything Bootstrap itself does, you’ll want to give the official project documentation a once over
                            before continuing. There’s also the kitchen sink—a one-page view of all Bootstrap’s components restyled by this theme.
                            For everything else, including compiling and using this Bootstrap theme, read through the docs below.
                            Thanks, and enjoy! </p>
                    </div>
                </div>
            </section>
            <section id="statistic">
                {% set activeSection = 'statistic' %}
                <div class="page-header">
                    <h3><i class="fa fa-home"
                           aria-hidden="true"></i> ACCUEIL <small> Statistiques</small>
                    </h3>
                </div>
                <p>Each theme is designed as it’s own toolkit—a series of well designed, intuitive, and cohesive components—built on top of Bootstrap. If you’ve used Bootstrap
                    itself, you’ll find this all super familiar, but with new aesthetics, new components, beautiful and extensive examples, and easy-to-use build tools and
                    documentation.
                    Since this theme is based on Bootstrap, and includes nearly everything Bootstrap itself does, you’ll want to give the official project documentation a once over
                    before continuing. There’s also the kitchen sink—a one-page view of all Bootstrap’s components restyled by this theme.
                    For everything else, including compiling and using this Bootstrap theme, read through the docs below.
                    Thanks, and enjoy! </p>
            </section>
            <section id="report">
                {% set activeSection = 'report' %}
                <div class="page-header">
                    <h3><i class="fa fa-file-text-o"
                           aria-hidden="true"></i> RAPPORTS <small> Envoyer un rapport</small>
                    </h3>
                </div>
                <p>Each theme is designed as it’s own toolkit—a series of well designed, intuitive, and cohesive components—built on top of Bootstrap. If you’ve used Bootstrap
                    itself, you’ll find this all super familiar, but with new aesthetics, new components, beautiful and extensive examples, and easy-to-use build tools and
                    documentation.</p>
                <div id="report_add">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-rounded" src="/img/documentation/accountJPG.JPG" alt=""/>
                        </div>
                        <div class="col-md-9">
                            <p>Each theme is designed as it’s own toolkit—a series of well designed, intuitive, and cohesive components—built on top of Bootstrap. If you’ve used Bootstrap
                                itself, you’ll find this all super familiar, but with new aesthetics, new components, beautiful and extensive examples, and easy-to-use build tools and
                                documentation.
                                Since this theme is based on Bootstrap, and includes nearly everything Bootstrap itself does, you’ll want to give the official project documentation a once over
                                before continuing. There’s also the kitchen sink—a one-page view of all Bootstrap’s components restyled by this theme.
                                For everything else, including compiling and using this Bootstrap theme, read through the docs below.
                                Thanks, and enjoy! </p>
                        </div>
                    </div>
                </div>
                <div id="report_list">
                    <div class="row">
                        <div class="page-header">
                            <h3><i class="fa fa-file-text-o"
                                   aria-hidden="true"></i> RAPPORTS <small> Consulter les rapports précedemment envoyés</small>
                            </h3>
                        </div>
                        <div class="col-md-3">
                            <img class="img-rounded" src="/img/documentation/accountJPG.JPG" alt=""/>
                        </div>
                        <div class="col-md-9">
                            <p>Each theme is designed as it’s own toolkit—a series of well designed, intuitive, and cohesive components—built on top of Bootstrap. If you’ve used Bootstrap
                                itself, you’ll find this all super familiar, but with new aesthetics, new components, beautiful and extensive examples, and easy-to-use build tools and
                                documentation.
                                Since this theme is based on Bootstrap, and includes nearly everything Bootstrap itself does, you’ll want to give the official project documentation a once over
                                before continuing. There’s also the kitchen sink—a one-page view of all Bootstrap’s components restyled by this theme.
                                For everything else, including compiling and using this Bootstrap theme, read through the docs below.
                                Thanks, and enjoy! </p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="practitioner">
                {% set activeSection = 'practitioner' %}
                <div class="page-header">
                    <h3><i
                                class="fa fa-user-md" aria-hidden="true"></i> PRATICIENS <small> Consulter la liste des praticiens partenaires de GSB</small>
                    </h3>
                </div>
                <p>Each theme is designed as it’s own toolkit—a series of well designed, intuitive, and cohesive components—built on top of Bootstrap. If you’ve used Bootstrap
                    itself, you’ll find this all super familiar, but with new aesthetics, new components, beautiful and extensive examples, and easy-to-use build tools and
                    documentation.
                    Since this theme is based on Bootstrap, and includes nearly everything Bootstrap itself does, you’ll want to give the official project documentation a once over
                    before continuing. There’s also the kitchen sink—a one-page view of all Bootstrap’s components restyled by this theme.
                    For everything else, including compiling and using this Bootstrap theme, read through the docs below.
                    Thanks, and enjoy! </p>
            </section>
            <section id="product">
                {% set activeSection = 'product' %}
                <div class="page-header">
                    <h3><i class="fa fa-medkit" aria-hidden="true"></i> PRODUITS <small> Consulter le catalogue des produits commercialisés par GSB</small>
                    </h3>
                </div>
                <p>Each theme is designed as it’s own toolkit—a series of well designed, intuitive, and cohesive components—built on top of Bootstrap. If you’ve used Bootstrap
                    itself, you’ll find this all super familiar, but with new aesthetics, new components, beautiful and extensive examples, and easy-to-use build tools and
                    documentation.
                    Since this theme is based on Bootstrap, and includes nearly everything Bootstrap itself does, you’ll want to give the official project documentation a once over
                    before continuing. There’s also the kitchen sink—a one-page view of all Bootstrap’s components restyled by this theme.
                    For everything else, including compiling and using this Bootstrap theme, read through the docs below.
                    Thanks, and enjoy! </p>
            </section>
            <section id="warning">
                {% set activeSection = 'warning' %}
                <div class="page-header">
                    <h3><i class="fa fa-exclamation" aria-hidden="true"></i> MISE EN GARDE
                    </h3>
                </div>
                <p>Par mesure de sécurité, vous ne devez en aucun cas communiquer votre mot de passe à une tierce personne.</p>
                <p>Si vous remarquez une activité suspecte sur votre compte vous devez immédiatement en avertir la hiérarchie.</p>
            </section>
        </div>
        <!-- Barre de navigation latérale -->
        <div class="col-md-2">
            <nav id="navbar">
                <ul class="nav" role="tablist">
                    <li class="navbarItem" {% if activeSection == 'presentation' %}class="active"{% endif %}><a href="#presentation">INTRODUCTION</a></li>
                    <li class="navbarItem" {% if activeSection == 'account' %}class="active"{% endif %}><a href="#account"><i class="fa fa-home"
                                                                                                                              aria-hidden="true"></i> ACCUEIL</a>
                        <ul>
                            <li class="navbarItem"><a href="#account">Saisir un rapport de visite</a></li>
                            <li class="navbarItem"><a href="#statistic">Fonctionnement des statistiques</a></li>
                        </ul>
                    </li>
                    <li class="navbarItem" {% if activeSection == 'statistic' %}class="active"{% endif %}><a href="#">Fonctionnement des statistiques</a></li>
                    <li class="navbarItem" {% if activeSection == 'report' %}class="active"{% endif %}><a href="#report"><i class="fa fa-file-text-o"
                                                                                                                            aria-hidden="true"></i> RAPPORTS</a>
                        <ul>
                            <li class="navbarItem"><a href="#report_add">Saisir un rapport de visite</a></li>
                            <li class="navbarItem"><a href="#report_list">Consulter les rapports de visite saisis</a></li>
                        </ul>
                    </li>
                    <li {% if activeSection == 'practitioner' %}class="active"{% endif %}><a href="#practitioner"><i
                                    class="fa fa-user-md" aria-hidden="true"></i> PRATICIENS</a></li>
                    <li {% if activeSection == 'product' %}class="active"{% endif %}><a href="#product"><i class="fa fa-medkit" aria-hidden="true"></i> PRODUITS</a></li>
                    <li class="navbarItem" {% if activeSection == 'warning' %}class="active"{% endif %}><a href="#warning"><i class="fa fa-exclamation"
                                                                                                                              aria-hidden="true"></i> MISE EN GARDE</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<script src="/lib/jquery/jquery-2.2.3.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/documentation.js"></script>

</body>
</html>