@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

html,
body {
    height: 100%;
}

body {
    position: relative;
    font-size: 20px;
    font-weight: 300;
}

.fa {
    font-size: 20px;
}

/* En-tête */

header {
    height: 300px;
    margin-bottom: 30px;
    color: #fff;
    background: url(/img/doc_header.jpg) no-repeat;
}

header h1 {
    font-weight: 300;
    font-size: 60px;
    line-height: 120px;
}

.homepageLink {
    margin: 20px 0 0 20px;
}

/* Navigation */

#navbar {
    position: fixed;
}

ul {
    list-style: none;
}

ul>li>a {
    font-size: 20px;
    font-weight: 400;
    color: #2A3F54;
    opacity: 1;
}

.nav>li>a:hover {
    background-color: transparent;
    opacity: 0.8;
}

ul>li>a:focus {
    background-color: transparent;
}

.active {
    border-left: 4px solid #3498DB;
}

.active>a {
    font-size: 25px;
}

/* Content */

