body {
	background: url('../../img/background_login.jpg') no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
}

.login-box {
	margin: 200px auto;
	padding: 40px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 2px;
}

.logo {
	font-size: 20px;
}

.logo-bold {
	font-weight: bold;
}

.feedback-left {
	position: relative;
}

.form-control {
	border: none;
}

.form-login {
	padding-left: 10px;
}

.btn {
	padding: 10px;
	background-color: rgb(25, 80, 128);
	border: none;
	border-radius: 2px;
}

.btn:hover{
	background-color: rgba(25, 80, 128, 0.8);
}

.glyphicon {
    position: absolute;
    left: 0;
    padding: 11px 10px;
    border-right: solid #E6E7E6 1px;
    font-size: 90%;
}


