@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

html,
body {
    height: 100%;
}

body > .container,
body > .container > .row,
body > .container > .row > .col-login {
    position: relative;
    height: 100%;
}

body {
    background: url('../../img/molecules.jpg') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 2px;
    transform: translate(-50%, -50%);
}

.logo {
    font-size: 20px;
}

.logo-bold {
    font-weight: bold;
}

.feedback-left {
    position: relative;
}

.form-control {
    border-color: #E6E7E6;
}

.form-login {
    padding-left: 40px;
}

.btn {
    padding: 10px;
    background-color: rgb(42, 63, 84);
    border: none;
    border-radius: 2px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 12px;
    width: 130px;
    margin-top: 15px;
}

.btn:hover {
    background-color: rgba(25, 80, 128, 0.8);
}

.glyphicon {
    position: absolute;
    left: 0;
    height: calc(100% - 2px);
    padding: 11px 10px;
    border-right: solid #E6E7E6 1px;
    font-size: 90%;
}

/* Loader */
#loader {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    background-color: rgba(42, 63, 84, 0.5);
    text-align: center;
    cursor: wait;
}

.loaderMessage {
    position: absolute;
    top: 60%;
    left: 44%;
    font-size: 20px;
}

.fa-spinner {
    position: absolute;
    display: block;
    top: 47%;
    left: 47%;
    font-size: 100px;
}


