
/* Formulaire */

.form-horizontal .form-group {
    margin: 10px 0;
}

.inline {
    display: inline-flex;
}

.input-group-addon {
    width: 40%;
    padding: 2px;
}

.control-label {
    font-weight: 500;
    font-size: 18px;
}

.help-block {
    color: #1ABB9C;
}

.radio-inline {
    padding-left: 28px;
}

.btn-group {
    float: right;
}