/* Lead */

.lead {
	height: 300px;
}


.welcome {
	display: table;
	position: relative;
}

.leadMessage {
	margin-left: 20px;
}

.big {
	font-size: 70px;
}

.welcome:before {
	content:"";
	float: left;
	margin: 0;
	width: 445px;
	height: 300px;
	background: url(../img/imgWelcome.jpg);
	background-size: 100%;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
}

.welcomeContent {
	display: table-cell;
	padding: 20px 0 20px 60px;
	width: 65%;
	height: 300px;
	line-height: initial;
	vertical-align: middle;
}

.welcomeText {
	padding-left: 5px;
	line-height: 60px;
}

/* Actualite */

.research {
	background-color: #E2DFDF;
}

.researchContent {
	padding: 20px;
}

/* Nos produits */

.productsContent {
	float: left;
	padding: 20px;
	width: 50%;
}
