{% extends "Layout/layout.twig" %}

{% set activePage = 'report_list' %}

{% block stylesheet %}
    <!--<link href="/css/pages/homepage.css" rel="stylesheet"/>-->
{% endblock %}

{% block content %}
    <h1>Consulter les bilans</h1>
{% endblock %}