@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

html,
body {
    height: 100%;
}

body>.container-fluid,
body>.container-fluid>.row {
    position: relative;
    height: 100%;
}

.vertical-menu {
    padding: 30px;
    margin: 0;
    height: 1000px;
    background-color: #2a3f54;
}

.navbar-item {
    color: #fff;
    font-size: 20px;
}