{% extends "Layout/layout.twig" %}

{% set activePage = 'homepage' %}

{% block stylesheet %}
    <link href="/css/pages/homepage.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <h2>Mes statistiques</h2>

    <div id="loader">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <span class="sr-only">Chargement de l'application ...</span>
        <h4 class="loaderMessage">Chargement de l'application</h4>
    </div>
{% endblock %}